@page "/userDashboard"
@attribute [StreamRendering]
@using Repositories
@using Models
@using Services
@inject IUserRepository UserRepo
@inject IStudentTeacherRepository StudentTeacherRepo
@inject IJSRuntime JS
@inject UserSession Session
@inject NavigationManager NavMan
@rendermode InteractiveServer

<PageTitle>Dashboard</PageTitle>

<div>
    <h1>Welcome @user.FirstName @user.LastName</h1> <btn btn-class="btn-danger" @onclick="LogOut">LOG OUT</btn>
</div>

<div>
    <table class="Table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>E-mail</th>
                @if (!IsStudent)
                {
                    <th>Location</th>
                    <th>Check In Time</th>
                    <th>Check Out Time</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var person in connections)
            {
                <tr>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td>@person.Email</td>
                    @if (person is Student student)
                    {
                        <td>@student.Location</td>
                        <td>@student.CheckInTime</td>
                        <td>@student.CheckOutTime</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<hr />


@if (IsStudent)
{
} 
else {
    <h3>Geolocation</h3>
    <div>
        <label>Latitude:</label>
        <input @bind="Latitude" readonly class="form-control" style="width:200px; display:inline-block;" />

        <label style="margin-left:10px;">Longitude:</label>
        <input @bind="Longitude" readonly class="form-control" style="width:200px; display:inline-block;" />
    </div>

    <button class="btn btn-primary mt-2" @onclick="GetLocation">Get My Location</button>
    
    <h3>Notification</h3>
    <div>
        <input type="text" @bind="notiString" placeholder="Enter Notification..." class="form-control"/>
        <btn class="btn btn-primary" @onclick="() => PushNotification(notiString)">Push Notification</btn>
    </div>
}
        
@code {
    private User user = new User();
    private List<User> connections = new();
    private string locationInput = string.Empty;
    private string notiString = string.Empty;
    private bool locationDisabled = false;
    private bool checkInDisabled = false;
    private bool checkOutDisabled = true;
    private bool IsLoggedIn => Session != null && Session.Id != 0;
    private bool IsStudent => Session != null && Session.UserType.ToLower() == "student";
    private Student? studentUser;
    private string? Latitude { get; set; }
    private string? Longitude { get; set; }

    public record GeolocationCoordinates(double Latitude, double Longitude);


    private async Task GetLocation()
    {
        try
        {
            await JS.InvokeVoidAsync("console.log", "Attempting to get location...");
            var coords = await JS.InvokeAsync<GeolocationCoordinates>("getUserLocation");
            Latitude = coords.Latitude.ToString("F6");
            Longitude = coords.Longitude.ToString("F6");
        }
        catch (Exception ex)
        {
            Latitude = "Error";
            Longitude = ex.Message;
        }
    }

    void PushNotification(string we){
    }

    void LogOut(){
        Session.Id = 0;
        NavMan.NavigateTo("/");
    }

    protected override async Task OnInitializedAsync()
    {
        if(IsLoggedIn){
            user = await UserRepo.ReadUserAsync(Session.Id);
            List<int> connectionIDs = new List<int>();

            if (IsStudent)
            {
                studentUser = new Student(user);
                connectionIDs = await StudentTeacherRepo.GetTeachersByStudentIdAsync(studentUser.Id);
            }
            else
            {
                connectionIDs = await StudentTeacherRepo.GetStudentsByTeacherIdAsync(user.Id);
            }

            foreach (int personId in connectionIDs)
            {
                connections.Add(await UserRepo.ReadUserAsync(personId));
            }
        } else{
            NavMan.NavigateTo("/");
        }
    }
}

